
<h1 {{action 'changeName' 'Mirae'}}>Mirage Testing</h1>
{{!--{{#power-select options=names onchange=(action 'changeName') as |name|}}
    {{name}}
{{/power-select}} 



{{#power-select-typeahead search=(action 'searchAsync') selected=selected onchange=(action (mut selected)) as |number|}}
  {{number}}
{{/power-select-typeahead}}
<div class="appcss">
    testcss
    </div>
<div class="testscss">
    testscss
    </div>--}}
{{!--{{#lazy-search appName=appName appColor=color as |color name|}}

<div style="background-color: {{color}}"> 
    HI - {{name}}
</div>

{{/lazy-search}}--}}

{{outlet}}