{{input value=name}}
{{input value=email}}
<button {{action "add" name email}}> ADD </button>
<br />
{{input value=searchStr }}
{{!--<button {{action 'search'}}> Search</button>--}}
{{#each model as |technician|}}
<br />
 {{technician.name}} - {{technician.email}} <button {{action 'deleteRecord' technician.id}}> Del </button>
{{/each}}
{{outlet}}
