{{add-button addUser=(action 'add')}}
<button id="show-div-id" {{action 'showAddUser'}}> Show Div </button>
<br />
{{input value=searchStr }}
{{#each model as |technician|}}
<br />
 {{technician.name}} - {{technician.email}} <button {{action 'deleteRecord' technician.id}}> Del </button>
{{/each}}
{{outlet}}
